@font-face {
    font-family: 'Playfair_Display';
    src: url('./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Playball';
    src: url('./assets/fonts/Playball/Playball-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

*,
body {
    font-family: 'Playfair_Display', Arial, sans-serif !important;
}

.v-application {
    background-color: #FFF6E4;
}

.btnPrimary {
    background-color: #F3BB3B;
    font-weight: bold;
    color: #5C4725;
}

.btnSecondary {
    border: 2px solid #5C4725;
    background-color: rgba(0, 0, 0, 0);
    color: #5C4725;
}

.fontPlayball {
    font-size: 1.4em;
    font-family: 'Playball', Arial, sans-serif !important;
}